:root{
    /*Make some colors here*/
}

*{
    box-sizing:border-box;
}

header{
    display:flex;
    justify-content:space-between;
}

#game-container,
#question-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}