:root{
    /*Make some colors here*/
}

*{
    box-sizing:border-box;
}

header{
    display:flex;
    justify-content:space-between;
}

#game-container,
#question-container,
#save-score-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.choice-button{
    background-color:pink;
    height:2rem;
    width:15rem;
    margin:.5rem;
    border-radius:.5rem;

}

#answer-score{
    display:flex;
    justify-content:space-around;
}

#answer-score h4 {
    padding-left:1rem;
    padding-right:1rem;
}